<h1>Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>
<P>Title</P>
<%= f.text_field :title %>
<p>Body</p>
<%= f.text_area :body %>
<%= f.submit 'Uodate Book' %>
<% end %>

<%= link_to "Show", book_path(@book) %>
<%= link_to "Back", books_path %>